@import "../../component/variables";
.mypage-wrap {
  background-color: $lightgray;
  padding: 2rem 0;
}

.index-contents {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #F5F5F5;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  .mypage {
    width: 70%;
    &__top {
      width: 100%;
      height: 200px;
      font-size: 0.9rem;
      background-size: cover;
      background-position: bottom;
      &--myitems{
        display: flex;
        .mypage__top--myitem{
          display: block;
        }
      }
      .fa-user-circle {
        font-size: 3.7rem;
        opacity: 0.4;
        text-align: center;
        width: 100%;
        height: 50px;
        margin-top: 50px;
      }
      &--name {
        text-align: center;
        margin-top: 20px;
        width: 100%;
        height: 20px;
      }
      &--my-items {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0 42%;
        margin-top: 10px;
      }
    }
    &__middle {
      width: 100%;
      height: 250px;
      text-align: center;
      line-height: 75px;
      &--tabs {
        width: 100%;
        height: 75px;
        display: flex;
        .mypage-tab{
        background-color: #eeeeee;
        width: 50%;
        cursor:pointer;
          &:hover {
            opacity: 0.6;
          }
        }
        .mypage-tab.is-active{
          background:#FFFFFF;
          columns: #333333;;
          border-top: 2px solid#ea352e;
        }
        .mypage__middle--content {
          display:none;
        }
        .mypage__middle--content.is-show{
          display:block;
        }
      }
      &--contents {
        width: 100%;
        height: 85px;
        background-color: #FFFFFF;
        border-bottom: 1px solid #efefef;
        .mypage__middle--content {
          display:none;
        }
        .mypage__middle--content.is-show{
          height: 50px;
          width: 100%;
          display:block;
          position: relative;
          .logo_red {
            padding: 5px;
            background-color: #efefef;
            text-align: left;
            position: absolute;
            left: 20px;
            top: 20px;
          }
          .mypage__middle--content-topic {
            font-size: 0.9rem;
            display: block;
            position: absolute;
            left: 80px;
            line-height: 60px;
          }
          .fas.fa-chevron-right {
            display: block;
            position: absolute;
            right: 0;
            margin: 35px 10px 0 0 ;
            color: #333333;
          }
          .far.fa-clock {
            position: absolute;
            left: 80px;
            line-height: 100px;
            color: #888888;
          }
          .mypage__middle--content-agetime {
            position: absolute;
            left: 100px;
            line-height: 100px;
            font-size: 0.8rem;
            color: #888888;
          }
        }
      }
      &--all {
        background-color: #ffffff;
        height: 80px;
        position: relative;
        .mypage__middle--text {
          position: absolute;
          display: block;
          height: 60px;
          width: 660px;
          background-color: #eeeeee;
          left: 6%;
          top: 10px;
          line-height: 60px;
          &:hover {
            background-color: #f5f5f5;
          }
        }
      }
    }
    &__bottom {
      background-color: #fafafa;
      width: 100%;
      height: 250px;
      text-align: center;
      line-height: 75px;
      margin-top: 30px;
      .mypage__bottom-text {
        text-align: left;
        padding-left: 20px;

      }
      &--tabs {
        width: 100%;
        height: 75px;
        display: flex;
        .mypage-tab{
        background-color: #eeeeee;
        width: 50%;
        cursor:pointer;
          &:hover {
            opacity: 0.6;
          }
        }
        .mypage-tab.is-active{
          background:#FFFFFF;
          columns: #333333;;

          border-top: 2px solid#ea352e;
        }
        .mypage__bottom--content {
          display:none;
        }
        .mypage__bottom--content.is-show{
          display:block;
        }
      }
      &--contents {
        width: 100%;
        height: 300px;
        background-color: #FFFFFF;
        border-bottom: 1px solid #efefef;
        opacity: 0.6;
        .mypage__bottom--content {
          display:none;
        }
        .mypage__bottom--content.is-show{
          height: 50px;
          width: 100%;
          display:block;
          position: relative;
        }
        .mypage__bottom--content-text{
          color: #333333;
        }
      }
    }
  }
}