
.result-wrapper{
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
  
  .result-box{
    height: 582px;
    width: 48.61%;
    margin: 0 auto;
    padding-top: 10px;
    .result-header{
      height: 100px;
      background-color: #fff;
      text-align: center;
      line-height: 100px;
      font-size: 22px;
    }
    .result-text{
      height: 233px;
      background-color: #fff;
      border-top: 2px solid #f5f5f5;
      text-align: center;
      line-height: 18px;
    }
      .result-text__area{
        height: 60px;
        background-color: #fff;
        padding-top: 60px;
      }
      .result-btn{
        display: block;
        height: 50px;
        width: 49%;
        background-color: #EA352D;
        color: #fff;
        margin-top: 80px;
        margin: 60px  auto 0;
        line-height: 50px;
        outline: 0;
        border: 1px solid #ea352d;
        cursor: pointer;
        font-size: 16px;
      }
    
    .result-image{
      background-image: url('top2.png');
      
      height: 250px;
      position: relative;
      .result-footer__img{
        position: absolute;
        left: 40px;
        top: 90px;
        text-align: center;
        .result-footer__heading{
          color: #fff;
          font-size: 18px;
          padding-bottom: 10px;
        }
        .result-footer__heading2{
          color: #fff;
          font-size: 24px;
        }
        .result__icon-box--apple{
          margin-left: 10px;
        }
      }
    }
  }
}