.content-profile{
  width: 1080px;
  height: 1080px;
  background-color: #f5f5f5;
  margin: 0 auto;
  .block-1{
    height: 40px;
    background-color: #f5f5f5;
  }
  .profile--edit{
    width: 64.81%;
    height: 568px;
    background-color: peachpuff;
    margin-left: 380px;
    &__header{
      height: 50px;
      background-color: white;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      line-height: 50px;
    }
    &__setting{
      height: 156px;
      // padding: 72px 16px 24px;
      position: relative;
      background-color: red;
      background-image: url("https://sozai-good.com/download?id=3129&type=1&subnumber=0&extention=jpg");
      .profile-group{
        .profile-icon{
          border-radius: 50%;
          top: 70px;
          left: 210px;
          height: 60px;
          width: 60px;
          position: absolute;
        }
        .profile-name{
          position: absolute;
          width: 31.42%;
          height: 46px;
          top: 75px;
          left: 278px;
          border-radius: 4px;
          border: 1px solid #ccc;
          font-size: 16px;
          text-indent: 15px;
        }
      }
    }
    &__text{
      height: 362px;
      background-color: white;
      &__area{
        width: 94.4%;
        height: 216px;
        background-color: white;
        margin-left: 17px;
        margin-top: 39px;
        font-size: 16px;
        border: 1px solid #ccc;
        outline: 0;
      }
      &__btn{
        width: 95.4%;
        height: 50px;
        background-color: #EA352D;
        margin-left: 17px;
        margin-top: 14px;
        color: #FEF6F6;
        font-size: 14px;
        border: 1px solid #ea352d;
        cursor: pointer;
        outline: 0;
      }
    }
  }
}