= render 'shared/header'
= render 'shared/btn'
.topof1
.wrapper5
  .logout-main
    = render 'shared/side-bar'
    .logout-main__content
      .logout-main__content--btn
        ログアウト
= render 'shared/footer'