.content-profile
  .block-1
  .profile--edit
    .profile--edit__header
      プロフィール
    .profile--edit__section
      .profile--edit__setting
        .profile-group
          = image_tag '/assets/images/プロフィールアイコン.jpg', class: 'profile-icon'
          %input.profile-name{:name => "nickname", :placeholder => "例)AYA☆セール中", :type => "text", :value => "ユーザー名"}/
      .profile--edit__text
        %textarea.profile--edit__text__area{:placeholder => "例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
        %button.profile--edit__text__btn{:type => "submit"} 変更する