.sign-up-wapper
  .sign-up
    .sign-up__header
      %img{src: "/assets/fmarket_logo_red.svg"}
    .sign-up__middle
      .sign-up__middle--top
        新規会員登録
      .sign-up__middle--bottom
        = link_to new_user_registration_path do
          %li.sign-up__middle--bottom-1
            %i.far.fa-envelope
            メールアドレスで登録
        = link_to user_facebook_omniauth_authorize_path do
          %li.sign-up__middle--bottom-2
            %i.fab.fa-facebook-square
            Facebookで登録する
        = link_to "/users/auth/google" do
          %li.sign-up__middle--bottom-3
            %i.fab.fa-google
            .google-color
              googleで登録する
  .wapper1
    .buy-footer
      .buy-footer__top
        =link_to "",class:"buy-footer__top--1" do
          プライバシーポリシー
        =link_to "",class:"buy-footer__top--2" do
          メルカリ利用規約
        =link_to "",class:"buy-footer__top--3" do
          特定商取引に関する表記
      .buy-footer__img
        = image_tag '/assets/logo_gray.svg', height: '65', width: '80'
      .buy-footer__fin
        © Mercari, Inc.