.top-top
  .top-content
    .header
      .header__top
        = link_to root_path, class:"header__top--logo" do
          %img{src: "/assets/fmarket_logo_red.svg"}
        .header__top--text
          %input.search-form__input{placeholder: "何をお探しですか？", type: "text", value: ""}
          %i.fa.fa-search
      .header__menu
        .header__menu-left
          %i.fas.fa-indent
          %li.header__menu-left--category メルカリについて
          %i.fas.fa-tag
          %li.header__menu-left--brand ブランドから探す
        .header__menu-right
          %i.far.fa-heart
          %li.header__menu-right--like いいね！一覧
          %i.far.fa-bell
          %li.header__menu-right--news お知らせ
          %i.fas.fa-check
          %li.header__menu-right--todo やることリスト
          %i.far.fa-user
          %li.header__menu-right--mypage マイページ


      .my-menu
        .my-menu__img
        .my-menu__name
          テスト
        .my-menu__status
          %sapn 評価: 0
          %span 出品数: 0
        %ul.my-menu__money
          %li.my-menu__list--item.money-list 売上金
          %li.my-menu__list--item.money-list ポイント
        %ul.my-menu__list
          %li.my-menu__list--item いいね！一覧
          %li.my-menu__list--item 出品した商品 - 出品中
          %li.my-menu__list--item 出品した商品 - 取引中
          %li.my-menu__list--item 出品した商品 - 売却済
          %li.my-menu__list--item 購入した商品 - 取引中
          %li.my-menu__list--item 購入した商品 - 過去の取引



