.content
  .product
    .product-tag
      商品一覧
    .product-list
      .product-list__list
        .product-wrapper
          .product-wrapper__heading
            .heading-text
              新着アイテム
            .heading-option
              もっと見る
              %i.fa.fa-angle-right
              
          .product-wrapper__item
            -@items.each do |item|
              .content
                =link_to item_path([item.id]),class:"iteme-1" do
                  .item-1__image
                    = image_tag src= item.image, size: "187x188" 
                    .item-1__image__price
                      ¥
                      = item.plice
                  %li.item-1__name 
                    = item.name