.content
  .product
    .product-tag
      商品一覧
    .product-list
      .product-list__list
        .product-wrapper
          .product-wrapper__heading
            .heading-text
              新着アイテム
            .heading-option
              もっと見る
              %i.fa.fa-angle-right
              
          .product-wrapper__item
            - @items.each do |item|
              .content
                =link_to item_path(item),class:"iteme-1" do
                  .item-1__image
                    -# = image_tag "#{item.images[1].image}"
                    - @sold = Buyer.find_by(item_id: item) 
                    - unless @sold == nil
                      .sold-mark-wrap1
                        .sold-mark1
                          .sold-mark1__text1
                            SOLD 
                    .item-1__image__price
                      ¥
                      = item.price
                  %li.item-1__name 
                    = item.name