@import '../../component/variables.scss';
//------------------------ Header ---------------------------//
.index-top {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
}

.header {
  padding: 15px 0 0;
  height: 100%;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    &--logo {
      margin-right: 40px;
      width: 160px;
      height: auto;
    }
    .header__top--text {
      position: relative;
      width: 82%;
      .search-form__input {
        padding-left: 10px;
        width: 100%;
        height: 36px;
        outline: 0;
        border-width: 1px;
        border-style: solid;
        border-color: #cccccc;
        border-radius: 4px;
        background-color: #f5f5f5;
        font-weight: 400;
        font-size: 1rem;
      }
      .fa-search {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
  &__menu {
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 25px;
    font-size: .96rem;
    &-left {
      display: flex;
      align-items: center;
      font-weight: bold;
      &--category {
        display: block;
        margin-right: 30px;
        cursor: pointer;
      }
      .fa-indent {
        color: $orange;
      }
      &--brand {
        display: block;
        cursor: pointer;
      }
      .fa-tag {
        color: $orange;
      }
    }
    &-right {
      display: flex;
      .far, .fas {
        color: gray;
      }
      &--like {
        display: block;
        margin-right: 30px;
        color: gray;
        font-weight: lighter;
        cursor: pointer;
      }
      &--news {
        display: block;
        margin-right: 30px;
        color: gray;
        font-weight: lighter;
        cursor: pointer;
      }
      &--todo {
        display: block;
        margin-right: 30px;
        color: gray;
        font-weight: lighter;
        cursor: pointer;
      }
      &--mypage {
        display: block;
        color: gray;
        font-weight: lighter;
        cursor: pointer;
        padding-bottom: 15px;
      }
    }
  }
}

//------------------------ MyMenu ---------------------------//
.my-menu {
  position: absolute;
  top: 6.9rem;
  right: 11rem;
  z-index: 10;
  display: none;
  width: 270px;
  height: 540px;
  background: #fff;
  box-shadow: 0 5px 3px gray;
  font-weight: normal;
  &__name {
    margin-top: 1rem;
    text-align: center;
  }
  &__status {
    margin-top: 1rem;
    text-align: center;
  }
  &__img {
    margin: 3rem auto 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: red;
  }
  &__money {
    margin: 1rem auto 0;
    width: 95%;
    border: .5px solid #333;
    background: #f5f5f5;
    .money-list {
      padding: .6rem .2rem;
      &:last-of-type {
        border-top: 1px solid #333 !important;
      }
    }
  }
  &__list {
    margin-top: 1.4rem;
    width: 100%;
  }
  &__list--item {
    padding: .8rem .5rem;
    list-style: none;
  }
  &__list > .my-menu__list--item {
    border-top: .5px solid #333;
    cursor: pointer;
    transition: .1s;
    &:hover {
      background: gray;
      transition: .1s;
    }
  }
}

.sell-icon {
  position: relative;
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 1;
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #ea352e;

  .fa-camera {
    position: absolute;
    display: block;
    padding-left: 45px;
    color: #fff;
    font-size: 400%;
    line-height: 0;
  }
  .sell-text {
    top: 20px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 100px;
  }
}

//------------------------ Carousel ---------------------------//
.slider {
  position: relative;

  &__item {
    position: relative;
    > h2 {
      position: absolute;
      top: 3rem;
      left: 14.5rem;
      font-size: 3.5rem;
      line-height: 4.3rem;
    }
    > p {
      position: absolute;
      top: 13rem;
      left: 15rem;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
    &--img {
      position: relative;
      width: 100%;
      height: 390px;
      object-fit: cover;
    }
  }
  &__store-link {
    position: absolute;
    bottom: 2rem;
    left: 15rem;
    display: flex;
    &--apple {
      margin-top: .75rem;
    }
  }
  .arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    z-index: 1;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .arrow-left {
    left: 80px;
  }
  .arrow-right {
    right: 80px;
  }
}

//----------------- Index ----------------------//
.content {
  margin: 0 auto;
  width: 100%;

  .product {
    .product-tag {
      height: 170px;
      background-color: #fff;
      color: #333333;
      text-align: center;
      font-weight: 600;
      font-size: 28px;
      line-height: 150px;
    }

    .product-list {
      padding: 42px 0 100px;
      height: auto;
      background-color: #f5f5f5;
      .product-wrapper {
        .product-wrapper__heading {
          display: flex;
          .heading-text {
            margin-left: 12.5%;
            padding: 15px;
            font-weight: 600;
            font-size: 24px;
            line-height: 34px;
          }
          .heading-option {
            margin-right: 14%;
            margin-left: auto;
            color: rgb(0, 149, 238);
            font-size: 14px;
            line-height: 48px;
            .fa-angle-right {
              font-size: 20px;
            }
          }
        }
      }
      .product-wrapper__item {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 1080px;

        .content {
          margin-bottom: 15px;
          width: 188px;
          height: 252px;
          .iteme-1 {
            display: block;
            width: 187px;
            height: 252px;
            box-shadow: 0 1px 5px lightgrey;
            text-decoration: none;
            &:hover {
              outline: 1px solid skyblue;
            }
            .item-1__image {
              position: relative;
              display: block;
              width: 100%;
              height: 188px;

              object-fit: cover;
              .sold-mark-wrap1 {
                position: absolute;
                top: 0;

                .sold-mark1 {
                  position: relative;
                  width: 75px;
                  height: 75px;
                  border-top: 37.5px solid #ea352d;
                  border-right: 37.5px solid transparent;
                  border-bottom: 37.5px solid transparent;
                  border-left: 37.5px solid #ea352d;

                  &__text1 {
                    position: absolute;
                    top: -22px;
                    left: -39px;
                    color: #fff;
                    font-weight: 600;
                    font-size: 19px;
                    transform: rotate(-45deg);
                  }
                }
              }

              .item-1__image__price {
                position: absolute;
                bottom: 8px;
                padding: 0 12px;
                height: 28px;
                border-top-right-radius: 14px;
                border-bottom-right-radius: 14px;
                background-color: gray;
                color: white;
                text-align: center;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                opacity: .8;
              }
            }
            .item-1__name {
              padding: 10px;
              height: 64px;
              background-color: white;
              list-style: none;
            }
          }
        }
      }
    }
  }
}

//------------------------ Footer ---------------------------//
.footer-img {
  padding: 3rem 0;
  width: 100%;
  height: 260px;
  background: image-url('footer.png');
  background-position: bottom;
  background-size: cover;

  &__heading {
    margin-top: 1rem;
    margin-left: 10rem;
    color: $white;
    font-size: 2.3rem;
    &:first-of-type {
      margin-top: 0;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  &__icon-box {
    margin: 1rem 0 0 10rem;
    &--apple {
      margin: 0 0 .66rem 2rem;
    }
    &--google {
      margin: 0 0 0 .4rem;
    }
  }
}

footer {
  z-index: 10;
  width: 100%;
  background: #212121 !important;
}

.footer {
  padding: .5rem 0 2rem;
  height: 390px;
  background: #212121;
  &__top {
    width: 100px;
    height: 260px;
    background-image: url('footer.jpg');
  }
  &__copyright {
    color: white;
    text-align: center;
  }
  &__logo {
    margin-top: 1rem;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  color: white;
  &__list {
    width: 180px;
    .sns-link {
      margin: 2rem 1rem 0 0;
      color: $white !important;
      font-size: 1.8rem;
    }
    &--item {
      margin-top: .7rem;
      color: $gray;
      font-size: .75rem;
      line-height: 1.2rem;
      &:first-of-type {
        color: $white;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }
  .divid > &__list--item {
    color: $gray !important;
    font-weight: normal;
    font-size: .8rem !important;
    &:first-of-type {
      margin-top: 2.5rem;
    }
  }
}

// --------パンくず--------------
.bereadcrumb-body {
  margin-bottom: 3px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0 3px 3px 0 rgba(63, 62, 62, .24);
  .breadcrumbs {
    margin: 0 auto;
    width: 1080px;
    line-height: 50px;
  }
}
