@import "../../component/variables.scss";
//------------------------ Header ---------------------------//
.top-top{
  position: relative;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eeeeee;
}

.header {
  &__top {
    display: flex;
    height: 40px;
    padding-top: 14px;
    &--logo {
      height: 36px;
      width: 134px;
      margin-right: 40px;
    }
    .header__top--text {
      width: 82%;
      position: relative;
      .search-form__input {
        width: 100%;
        height: 36px;
        font-size: 1rem;
        background-color: #f5f5f5;
        border-width: 1px;
        border-style: solid;
        border-color: #CCCCCC;
        border-radius: 4px;
        padding-left: 10px;
        font-weight: 400;
        outline: 0;
      }
      .fa-search {
        position: absolute;
        top: 10px;
        right: 10px;

      }
  }
}
&__menu {
  position: relative;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  &-left {
    display: flex;
    &--category {
      display: block;
      margin-right: 30px;
      cursor: pointer;
    }
    .fa-indent {
      color: #EA352E;
    }
    &--brand {
      display: block;
      cursor: pointer;
    }
    .fa-tag {
      color: #EA352E;
    }
  }
  &-right {
    display: flex;
    &--like {
      display: block;
      margin-right: 30px;
      cursor: pointer;
    }
    &--news {
      display: block;
      margin-right: 30px;
      cursor: pointer;
    }
    &--todo {
      display: block;
      margin-right: 30px;
      cursor: pointer;
    }
    &--mypage {
      display: block;
      cursor: pointer;
    }
    }
  }
}

.my-menu {
  position: absolute;
  top: 6.3rem;
  right: 11rem;
  display: none;
  font-weight: normal;
  height: 540px;
  width: 270px;
  background: #fff;
  box-shadow: 0 0 10px black;
  z-index: 10;
  &__name {
    margin-top: 1rem;
    text-align: center;
  }
  &__status {
    margin-top: 1rem;
    text-align: center;
  }
  &__img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: red;
    margin: 3rem auto 0;
  }
  &__money {
    border: .5px solid #333;
    width: 95%;
    margin: 1rem auto 0;
    background: #F5F5F5;
    .money-list {
      padding: .6rem .2rem;
      &:last-of-type {
        border-top: 1px solid #333!important;
      }
    }
  }
  &__list {
    width: 100%;
    margin-top: 1.4rem;
  }
  &__list--item {
    padding: .8rem .5rem;
    list-style: none;
  }
  &__list > .my-menu__list--item {
    border-top: .5px solid #333;
    cursor: pointer;
    transition: .1s;
    &:hover {
      background: gray;
      transition: .1s;
    }
  }
}

.sell-icon {
  height: 160px;
  width: 160px;
  background-color: #EA352E;
  position: relative;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: block;
  z-index: 1;


  .fa-camera {
    position: absolute;
    display: block;
    color: #fff;
    line-height: 0;
    font-size: 400%;
    padding-left: 45px;
  }
  .sell-text {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    top: 20px;
    line-height: 100px;
    font-weight: bold;
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  }
}


//------------------------ Carousel ---------------------------//
.slider {
  position: relative;

  &__item {
    position: relative;
    > h2 {
      font-size: 4rem;
      position: absolute;
      top: 3rem;
      left: 14.5rem;
    }
    > p {
      font-size: 1.2rem;
      position: absolute;
      top: 13rem;
      left: 15rem;
    }
    &--img {
      position: relative;
      width: 100%;
      height: 390px;
      object-fit: cover;
    }
  }
  &__store-link {
    display: flex;
    position: absolute;
    bottom: 2rem;
    left: 15rem;
    &--apple {
      margin-top: .75rem;
    }
  }
  .arrow-left, .arrow-right {
    color: #fff;
    cursor: pointer;
    z-index: 1;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .arrow-left {
    left: 80px;
  }
  .arrow-right {
    right: 80px;
  }
}


//----------------- Index ----------------------//
.content{
  width: 100%;
  margin: 0 auto;

  .product{
    .product-tag{
      line-height: 150px;
      height: 170px;
      background-color: #fff;

      font-size: 28px;
      font-weight: 600;
      text-align: center;
      color: #333333;
    }

    .product-list{
      height: auto;
      background-color: #F5F5F5;
      padding: 42px 0 100px;
        .product-wrapper{
          .product-wrapper__heading{

            display: flex;
            .heading-text{
              font-size: 24px;
              margin-left: 12.5%;
              font-weight: 600;
              line-height: 34px;
              padding: 15px;
            }
            .heading-option{
              font-size: 14px;
              margin-left: auto;
              color: rgb(0, 149, 238);
              margin-right: 14%;


              line-height: 48px;
              .fa-angle-right{
                font-size: 20px;
              }
            }
          }
        }
        .product-wrapper__item{
          display: flex;
          flex-wrap: wrap;
          width: 1080px;
          margin: 0 auto;

          .content{
            width: 188px;
            height: 252px;
            margin-bottom: 15px;
            .iteme-1{
              box-shadow: 0 1px 5px lightgrey;
              display: block;
              width: 187px;
              height: 252px;
              text-decoration: none;
              &:hover{
                outline: 1px solid skyblue;
              }
              .item-1__image{
                position: relative;
                width: 100%;
                height: 188px;
                display: block;
                object-fit: cover;
                .sold-mark-wrap1{
                  position: absolute;
                  top: 0;

                  .sold-mark1{
                    width: 75px;
                    height: 75px;
                    position: relative;
                    
                    border-top: 37.5px solid #ea352d;
                    border-right: 37.5px solid transparent;
                    border-bottom: 37.5px solid transparent;
                    border-left: 37.5px solid #ea352d;
      
                    &__text1{
                      position: absolute;
                      top: -22px;
                      left: -39px;
                      transform: rotate(-45deg);
                      color: #fff;
                      font-weight: 600;
                      font-size: 19px;
      
                    }
                  }
                }

                .item-1__image__price{
                position: absolute;
                bottom : 8px;
                height: 28px;
                background-color: gray;
                opacity: 0.8;
                text-align: center;
                padding: 0px 12px;
                font-size: 16px;
                color: white;
                font-weight: 400;
                border-top-right-radius: 14px;
                border-bottom-right-radius: 14px;
                line-height: 28px;
                }
              }
              .item-1__name{
                height: 64px;
                background-color: white;
                list-style: none;
                padding: 10px;
              }
            }
          }
        }

    }
  }
}


//------------------------ Footer ---------------------------//
.footer-img {
  padding: 3rem 0;
  background: image-url('footer.png');
  background-size: cover;
  background-position: bottom;
  height: 260px;
  width: 100%;

  &__heading {
    margin-left:  10rem;
    color: $white;
    font-size: 2.3rem;
    margin-top: 1rem;
    &:first-of-type {
      margin-top: 0;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  &__icon-box {
    margin: 1rem 0 0 10rem;
    &--apple {
      margin: 0 0 .66rem 2rem;
    }
    &--google {
      margin: 0 0 0 .4rem;
    }
  }
}

footer {
  z-index: 10;
  width: 100%;
  background: #212121!important;
}

.footer {
  background: #212121;
  padding: .5rem 0 2rem;
  height: 390px;
  &__top {
    height: 260px;
    width: 100px;
    background-image: url('footer.jpg');
  }
  &__copyright {
    color: white;
    text-align: center;
  }
  &__logo {
    margin-top: 1rem;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  color: white;
  &__list {
    width: 180px;
    .sns-link {
      color: $white!important;
      font-size: 1.8rem;
      margin: 2rem 1rem 0 0;
    }
    &--item {
      line-height: 1.2rem;
      margin-top: .7rem;
      color: $gray;
      font-size: .75rem;
      &:first-of-type {
        font-weight: bold;
        color: $white;
        font-size: 1rem;
      }
    }
  }
  .divid > &__list--item {
    &:first-of-type {
      margin-top: 2.5rem;
    }
    font-weight: normal;
    color: $gray!important;
    font-size: .8rem!important;
  }
}

// --------パンくず--------------
.bereadcrumb-body {
  height: 50px;
  width: 100%;
  box-shadow: 0 3px 3px 0 rgba(63, 62, 62, 0.24);
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 3px;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;;
    .breadcrumbs {
    width: 1080px;
    margin: 0 auto;
    line-height: 50px;
    .breadcrumbs-list{
      
    }
  }
}