@import "../../component/variables.scss";

.sell-wrap {
  padding: 2rem 0 3rem;
  background: $lightgray;
  height: auto;
  &__logo {
    display: block;
    margin: 0 auto;
  }
  &__logo-bottom {
    display: block;
    margin: 2rem auto 0;
  }
}

.sell-box {
  padding: 2rem 0;
  margin: 2rem auto 0;
  width: 700px;
  height: auto;
  background: #fff;
  > h2 {
    padding-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: $sellPageBorder;
  }
  &__section {
    border-bottom: $sellPageBorder;
    padding: 2rem 2.2rem;
    &:last-of-type {
      border-bottom: none;
    }
    h3 {
      font-size: .9rem;
    }
    h4 {
      font-size: .9rem;
      margin-top: 2rem;
      &:first-of-type {
        margin-top: 0!important;
      }
    }
    h3 span, h4 span {
      display: inline-block;
      transform: translateY(-.2rem);
      padding: .15rem .2rem;
      border-radius: 2px;
      font-size: .8rem;
      background: red;
      color: #fff;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #fff;
      padding: 0 1rem;
      border: 1px solid lightgray;
      border-radius: 5px;
      margin-top: .5rem;
      height: 50px;
      width: 400px;
      font-size: 1rem;
    }
    .select-wrap {
      position: relative;
      > .fa-chevron-down {
        font-size: 1.3rem;
        color: gray;
        position: absolute;
        top: 25px;
        right: 15px;
      }
    }
  }
  &__section2 {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    > p {
      margin-top: 1rem;
      font-size: .9rem;
    }
    &--input {
      text-align: center;
      border: 1px dashed lightgray;
      width: 100%;
      height: 160px;
      background: $lightgray;
      margin: 1rem auto 0;
      > p {
        font-size: .8rem;
        font-weight: bold;
        line-height: 1.3rem;
        margin-top: 4rem;
      }
    }
  }
  &__info {
    &--input {
      border: 1px solid lightgray;
      border-radius: 5px;
      margin-top: 1rem;
      padding: .8rem 1rem;
      width: 100%;
      font-size: 1rem;
    }
    &--textarea {
      margin-top: 3rem;
    }
    &--description {
      border-radius: 0;
    }
  }
  &__price {
    &--right {
      width: 400px;
    }
    .price-flex {
      border-bottom: 1px solid lightgray;
      padding: 1.5rem 0;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      &:first-of-type {
        padding: 0 0 1.5rem 0;
      }
      &:last-of-type {
        border: none;
      }
      p {
        font-size: .9rem;
      }
      .profit {
        font-weight: bold;
        font-size: 1rem;
      }
      &__input {
        border: 1px solid lightgray;
        border-radius: 5px;
        margin-top: 1rem;
        padding: .8rem 1rem;
        width: 160px;
        font-size: 1rem;
      }
    }
  }

  &__confirmation {
    p {
      font-size: .9rem;
      line-height: 1.2rem;
    }
    &--exhibit-btn {
      font-size: .9rem;
      margin-top: 3rem;
      width: 100%;
      background: $orange;
      text-align: center;
      padding: 1rem;
      color: #fff;
    }
    &--back-btn {
      margin: 2rem auto 0;
      width: 280px;
      text-align: center;
      background: gray;
      color: #fff;
      padding: 1rem;
    }
  }
}

.sell-other {
  margin-top: 2rem;
  font-size: .8rem;
  list-style: none;
  display: flex;
  justify-content: center;
  li:not(:last-of-type) {
    margin-right: 1rem;
  }
}

.copyright {
  font-size: .8rem;
  text-align: center;
  margin-top: 1rem;
}