.overlay {
  animation: byeOverlay 5s forwards;
  animation-delay: 4s;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  opacity: 1;
}

.logo-animation {
  animation: logo 2s forwards;
  animation-delay: 2.5s;
  position: absolute;
  width: 120px;
  height: auto;
  top: 0;
  opacity: 0;
}

.animation-box {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    position: relative;
    overflow: hidden;
    .border-top {
      animation: borderTop 3s forwards;
      width: 100%;
      position: absolute;
      top: 0;
      height: 1px;
      background: #333;
      transform: translateX(-100%);
    }
    .border-bottom {
      animation: borderBottom 3s forwards;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #333;
      transform: translateX(100%);
    }
    .p-wrap {
      width: auto;
      padding: 1rem;
      display: flex;
    }
    p {
      font-size: 5rem;
      margin-right: 1rem;
    }
    .topToBottom {
      animation: topToBottom 2s forwards;
      transform: translateY(-105%);
      &:nth-of-type(1) {
        animation-delay: .2s;
      }
      &:nth-of-type(3) {
        animation-delay: .4s;
      }
      &:nth-of-type(5) {
        animation-delay: .6s;
      }
      &:nth-of-type(7) {
        animation-delay: .8s;
      }
      &:nth-of-type(9) {
        animation-delay: .8s;
      }
    }
    .bottomToTop {
      animation: bottomToTop 2s forwards;
      transform: translateY(105%);
      &:nth-of-type(2) {
        animation-delay: .2s;
      }
      &:nth-of-type(4) {
        animation-delay: .4s;
      }
      &:nth-of-type(6) {
        animation-delay: .6s;
      }
      &:nth-of-type(8) {
        animation-delay: .8s;
      }
      &:nth-of-type(10) {
        animation-delay: .8s;
      }
    }
  }

}

@keyframes borderTop {
  0% {
    transform: translateX(-100%);
  }
  10% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes borderBottom {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes topToBottom {
  0% {
    transform: translateY(-105%);
  }
  10% {
    transform: translateY(-105%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bottomToTop {
  0% {
    transform: translateY(105%);
  }
  10% {
    transform: translateY(105%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes logo {
  0% {
    top: 0;
    opacity: 0;
  }
  10% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 15%;
    opacity: 1;
  }
}

@keyframes byeOverlay {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}