//------------------------ carousel ---------------------------//
.slider {
  position: relative;
  &__item {
    position: relative;
    > h2 {
      font-size: 4rem;
      position: absolute;
      top: 3rem;
      left: 14.5rem;
    }
    > p {
      font-size: 1.2rem;
      position: absolute;
      top: 13rem;
      left: 15rem;
    }
    &--img {
      position: relative;
      width: 100%;
      height: 390px;
      object-fit: cover;
    }
  }
  &__store-link {
    display: flex;
    position: absolute;
    bottom: 2rem;
    left: 15rem;
    &--apple {
      margin-top: .75rem;
    }
  }
  .arrow-left, .arrow-right {
    color: #fff;
    cursor: pointer;
    z-index: 1;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .arrow-left {
    left: 80px;
  }
  .arrow-right {
    right: 80px;
  }
}
//----------------- Footer ----------------------//
@import "../../component/variables.scss";
.footer-img {
  padding: 3rem 0;
  background: image-url('footer.png');
  background-size: cover;
  background-position: bottom;
  height: 260px;
  width: 100%;
  &__heading {
    margin-left:  10rem;
    color: $white;
    font-size: 2.3rem;
    margin-top: 1rem;
    &:first-of-type {
      margin-top: 0;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  &__icon-box {
    margin: 1rem 0 0 10rem;
    &--apple {
      margin: 0 0 .66rem 2rem;
    }
    &--google {
      margin: 0 0 0 .4rem;
    }
  }
}

footer {
  width: 100%;
  background: #212121;
}

.footer {
  padding: .5rem 0 2rem;
  height: 390px;
  &__top {
    height: 260px;
    width: 100px;
    background-image: url('footer.jpg');
  }
  &__copyright {
    color: white;
    text-align: center;
  }
  &__logo {
    margin-top: 1rem;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  color: white;
  &__list {
    width: 180px;
    .sns-link {
      color: $white!important;
      font-size: 1.8rem;
      margin: 2rem 1rem 0 0;
    }
    &--item {
      line-height: 1.2rem;
      margin-top: .7rem;
      color: $gray;
      font-size: .75rem;
      &:first-of-type {
        font-weight: bold;
        color: $white;
        font-size: 1rem;
      }
    }
  }
  .divid > &__list--item {
    &:first-of-type {
      margin-top: 2.5rem;
    }
    font-weight: normal;
    color: $gray!important;
    font-size: .8rem!important;
  }
}
