.content {
  width: 1080px;
  margin: 0 auto;
  .header {
    &__top {
      display: flex;
      height: 40px;
      margin-top: 14px;
      &--logo {
        height: 36px;
        width: 134px;
        margin-right: 40px;
      }
      &--text {
        width: 82%;
        position: relative;
        .search-form__input {
          width: 100%;
          height: 36px;
          font-size: 1rem;
          background-color: #f5f5f5;
          border-width: 1px;
          border-style: solid;
          border-color: #CCCCCC;
          border-radius: 4px;
          padding-left: 10px;
          font-weight: 400;
          outline: 0;
        }
        .fa-search {
          position: absolute;
          top: 13px;
          right: 0;

        }
      }
    }
    &__menu {
      position: relative;
      margin-top: 8px;
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      &-left {
        display: flex;
        &--category {
          display: block;
          margin-right: 30px;
        }
        .fa-indent {
          color: #EA352E;
        }
        &--brand {
          display: block;
        }
        .fa-tag {
          color: #EA352E;
        }
      }
      &-right {
        display: flex;
        &--like {
          display: block;
          margin-right: 30px;
        }
        &--news {
          display: block;
          margin-right: 30px;
        }
        &--todo {
          display: block;
          margin-right: 30px;
        }
        &--mypage {
          display: block;
          cursor: pointer;
        }
      }
    }
  }
}
.my-menu {
  position: absolute;
  top: 2rem;
  right: 0;
  display: none;
  font-weight: normal;
  height: 540px;
  width: 270px;
  background: #fff;
  box-shadow: 0 0 10px black;
  &__name {
    margin-top: 1rem;
    text-align: center;
  }
  &__status {
    margin-top: 1rem;
    text-align: center;
  }
  &__img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: red;
    margin: 3rem auto 0;
  }
  &__money {
    border: .5px solid #333;
    width: 95%;
    margin: 1rem auto 0;
    background: #F5F5F5;
    .money-list {
      padding: .6rem .2rem;
      &:last-of-type {
        border-top: 1px solid #333!important;
      }
    }
  }
  &__list {
    width: 100%;
    margin-top: 1.4rem;
  }
  &__list--item {
    padding: .8rem .5rem;
    list-style: none;
  }
  &__list > .my-menu__list--item {
    border-top: .5px solid #333;
    cursor: pointer;
    transition: .1s;
    &:hover {
      background: gray;
      transition: .1s;
    }
  }
}

.sell-icon {
  height: 150px;
  width: 150px;
  background-color: #EA352E;
  position: relative;
  list-style: none;
  border-radius: 50%;
  margin: 30% 0 0 87%;
  .fa-camera {
    position: absolute;
    display: block;
    color: #fff;
    line-height: 0;
    font-size: 400%;
    padding-left: 45px;
  }
  .sell-text {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    top: 20px;
    line-height: 100px;
    font-weight: bold;
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  }
}
