// ユーザークレジットカード登録
.content{
  width: 1080px;
  height: 1080px;
  background-color: #F5F5F5;
  margin: 0 auto;
  .credit{
    width: 700px;
    height: 364;
    padding-top: 190px;
    margin-left: 380px;
    
    .credit-header{
      width: 700px;
      height: 50px;
      background-color:white;
      font-size: 24px;
      text-align: center;
      line-height: 2.3;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      color: #333333;
      }
    .credit-main{
      height: 314px;
      width: 700px;
      background-color: white;
      border-top: 2px solid #F5F5F5;
      .credit-detail{
        width: 572px;
        height: 129px;
        margin: 64px 64px 0 64px;
        border-bottom: 1px solid #eee;
          .credit-list{
            font-size: 16px;
            font-weight: 700;
            width: 320px;
            margin: 0 auto;
            font-family: Arial, Helvetica, sans-serif;
            color: #333333;
          }
          .credit-setting{
            list-style: none;
            width: 320px;
            height: 64px;
            margin: 0 auto;
            padding: 24px;
            justify-content: space-between;
            position: relative;
            .credit-number{
              margin-top:8px;
              color: #333333;
              font-family: Arial, Helvetica, sans-serif;
            }
            .credit-limit{
              margin-top:8px;
              color: #333333;
              font-family: Arial, Helvetica, sans-serif;
            }
            .delet-btn{
              width: 68px;
              height: 22px;
              border: 1px solid #EA352D;
              line-height: 22px;
              text-align: center;
              border-radius: 3px;
              position: absolute;
              right: 25px;
              bottom: 64px;
              color: #EA352D;
              font-size: 14px;
              font-family: Arial, Helvetica, sans-serif;
              cursor: pointer;
            }
          }
      }
      .about{
        width: 572px;
        height: 16px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 40px 64px;
        text-align: right;
        color: #0099E8;
        font-size: 14px;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
          opacity: 0.7;
        }
      }
    }
  }
}