.content {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  list-style: none;
  background-color: #F5F5F5;
  .mypage {
    width: 70%;
    &__top {
      background-color: greenyellow;
      width: 100%;
      height: 200px;
      &--myitems{
        display: flex;
        .mypage__top--myitem{
          display: block;
        }
      }
      .fa-user-circle {
        font-size: 3.5rem;
        opacity: 0.4;
        text-align: center;
        width: 100%;
        height: 50px;
        margin-top: 30px;
      }
      &--name {
        text-align: center;
        margin-top: 10px;
        width: 100%;
        height: 20px;
      }
      &--myitems {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0 41%;
        .mypage__top--myitem {
          display: block;
        }
      }
    }
    &__middle {
      width: 100%;
      height: 250px;
      display: flex;
      text-align: center;
      line-height: 75px;
      &--news {
        width: 50%;
        height: 75px;
      }
      &--todo {
        width: 50%;
        height: 75px
      }
    }
  }
  .sidebar {
    background-color:#FFFFFF;
    width: 25%;
    text-align: left;
    line-height: 50px;
    font-size: 0.9rem;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    li.sidebar__top--item {
      cursor: pointer;
      list-style: none;
      border-top: solid #f5f5f5;
      position: relative;
      .fas.fa-chevron-right {
        transition: .3s;
        transform: translateX(0);
        position: absolute;
        right: 0;
        margin: 15px 20px 0 0 ;
        color: lightgray;
      }
    }
    &__middle {
      list-style: none;
      &--item {
        background-color: #f5f5f5;
        height: 80px;
        line-height: 130px;
        font-size: 1rem;
      }
    }
    &__bottom {
      list-style: none;
      &--item {
        background-color: #f5f5f5;
        height: 80px;
        line-height: 130px;
        font-size: 1rem;
      }
    }
    .sidebar__middle {
      
    }
    li.sidebar__top--item:hover {
      background-color: #f5f5f5;
      opacity: 0.7;
    }
    .i.fas.fa-chevron-right {
      color: #333333;
    }
  }
}