// 商品一覧ページ作成
.content{
  width: 1080px;
  margin: 0 auto;
  .product{
    .product-tag{
      line-height: 150px;
      height: 170px;
      
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      color: #333333;
    }
    
    .product-list{
      height: auto;
      background-color: #F5F5F5;
      padding: 42px 0 100px;
        .product-wrapper{
          .product-wrapper__heading{
            
            display: flex;
            .heading-text{
              font-size: 24px;
              
              font-weight: 600;
              line-height: 34px;
              padding: 15px;
            }
            .heading-option{
              font-size: 14px;
              margin-left: auto;
              color: rgb(0, 149, 238);
              
              line-height: 48px;
              .fa-angle-right{
                font-size: 20px;
              }
            }
          }
        }
        .product-wrapper__item{
          display: flex;
          flex-wrap: wrap;
          width: 1080px;
          
          .content{
            // padding: 10px;
            width: 188px;
            height: 252px;
            margin-bottom: 15px;
            .iteme-1{
              box-shadow: 0 1px 5px lightgrey;
              display: block;
              width: 187px;
              height: 252px;
              &:hover{
                outline: 1px solid skyblue;
              }
              .item-1__image{
                position: relative;
                width: 100%;
                height: 188px;
                display: block;
                
                .item-1__image__price{
                position: absolute;
                bottom : 8px;
                width: 78.05px;
                height: 28px;
                background-color: gray;
                opacity: 0.8;
                text-align: center;
                padding: 0px 12px;
                font-size: 17px;
                color: white;
                font-weight: 400;
                border-top-right-radius: 14px;
                border-bottom-right-radius: 14px;
                line-height: 28px;
                }
              }
              .item-1__name{
                height: 44px;
                background-color: white;
                list-style: none;
                display: block;
                padding: 10px;
                
              }
            }
          }
        }
       
    }
  }
}

