.sidebar {
  background-color:#FFFFFF;
  width: 29%;
  text-align: left;
  line-height: 50px;
  font-size: 0.9rem;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  li.sidebar__top--item {
    cursor: pointer;
    list-style: none;
    border-top: solid #f5f5f5;
    position: relative;
    padding-left: 16px;
    .fas.fa-chevron-right {
      transition: .3s;
      transform: translateX(0);
      position: absolute;
      right: 0;
      margin: 15px 20px 0 0 ;
      color: lightgray;
    }
  }
  &__middle {
    list-style: none;
    &--item {
      background-color: #f5f5f5;
      height: 80px;
      line-height: 130px;
      font-size: 1rem;
    }
  }
  &__bottom {
    list-style: none;
    &--item {
      background-color: #f5f5f5;
      height: 80px;
      line-height: 130px;
      font-size: 1rem;
    }
  }
  .sidebar__middle {
  }
  li.sidebar__top--item:hover {
    background-color: #f5f5f5;
    opacity: 0.7;
  }
  .i.fas.fa-chevron-right {
    color: #333333;
  }
}

