.card-wrapper{
  background-color: #F5F5F5;
}

.card-wrapper__innuner{
  height: 600px;
  width: 700px;
  background-color: #ffffff;
  margin: 0 auto;
}


.card-top{
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 24px;
  border-bottom: 2px solid #F5F5F5;
}



.card-bottom{
  display: inline-block;
  height: 600px;
  width: 100%;
  padding: 40px 180px 60px 180px;
  margin: 0, auto;
}

.card-number{
  height: 90px;
  width: 340px;
  margin-bottom: 30px;
}

h2 span{
  display: inline-block;
  transform: translateY(-.2rem);
  padding: .15rem .2rem;
  border-radius: 2px;
  font-size: .8rem;
  background: red;
  color: #fff;
}
.card-number__input{
  display: inline-block;
  height: 50px;
  width: 340px;
  font-size: 18px;
}

.card-campny{
  display: flex;
  li{
    margin-right: 10px;
  }
}



.date{
  height: 70px;
  width: 340px;
  margin-bottom: 30px;
}

h2 span{
  display: inline-block;
  transform: translateY(-.2rem);
  padding: .15rem .2rem;
  border-radius: 2px;
  font-size: .8rem;
  background: red;
  color: #fff;
}

.year-and-month{
  display: flex;
}

.year-and-month__innuner{
  width: 100%;
  display: flex;
  position: relative;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  padding: 0 1rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: .5rem;
  height: 45px;
  width: 130px;
  font-size: 1rem;
  margin-right: 400px;
  position: absolute;
}

h3 {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 10px;
}

.fa-chevron-down {
  position: absolute;
  font-size: 1.3rem;
  color: gray;
  top: 20px;
  right: 50px;
}



.security-code{
  height: 90px;
  width: 340px;
  margin-bottom: 30px;
}

h2 span{
  display: inline-block;
  transform: translateY(-.2rem);
  padding: .15rem .2rem;
  border-radius: 2px;
  font-size: .8rem;
  background: red;
  color: #fff;
}

.cvc{
  display: inline-block;
  height: 50px;
  width: 340px;
  font-size: 18px;
}

.pop{
  display: flex;
  justify-content: flex-end;
  right: 0;
}

h4{
  display: inline-block;
  font-size: 12px;
  color: #0099e8;
  cursor: pointer;
}

.fa-question-circle{
  color: #0099e8;
  cursor: pointer;
}

.next--btn{
  width: 320px;
  height: 50px;
  background: #ea352d;
  border: 1px solid #ea352d;
  line-height: 50px;
  margin: 10% auto;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 60px;
}