-# ---------------header---------------
.content
  .header
    .header__top
      .header__top__logo
        %img{src: "/assets/fmarket_logo_red.svg"}
      .header__top__text
        %input.search-form__input{placeholder: "何をお探しですか？", type: "text", value: ""}
        %i.fa.fa-search
    .header__menu
      .header__menu-left
        %li.header__menu-left__category メルカリについて
        %li.header__menu-left__brand ブランドから探す
      .header__menu-right
        %li.header__menu-right__like いいね！一覧
        %li.header__menu-right__news お知らせ
        %li.header__menu-right__todo やることリスト
        %li.header__menu-right__mypage マイページ
        %div