-# ---------------header---------------
.content
  .mypage__top
    %img{src: "/assets/images/マイページ背景.png"}
    .mypage__top--icon
    .mypage__top--news
    .mypage__top--todo
    .mypage__top--all
  .mypage__bottom
    .mypage__bottom--transaction
    .mypage__bottom--gae-taransaction