-# # ---------------ログインページ---------------
.content
  =render '/shared/side-bar'
  .mypage
    .mypage__top
      %i.fas.fa-user-circle
      %li.mypage__top--name ウッディー
      %ul.mypage__top--myitems
        %li.mypage__top--myitem 評価  ０
        %li.mypage__top--myitem 出品数  ０
    .mypage__middle
      .mypage__middle--news
        %li.mypage__middle--news-items お知らせ
      .mypage__middle--todo
        %li.mypage__top--todo-items やることリスト
      .mypage__top--all
    .mypage__bottom
      .mypage__bottom--transaction
      .mypage__bottom--gae-taransaction 