.wrapper
  .showpage
    .pp
    .top
      .top__tittle
        ボーナム Tシャツ
      .top__news
        『ボーナム Tシャツ』は、19回の取引実績を持つすタップさんから出品されました。Tシャツ/カットソー(半袖/袖なし)/メンズの商品で、東京都から2~3日で発送されます。
      .top__explain
        .top__explain--image
          .imagemain
          .imagesab
            .a
            .b
            .c
            .d
        .top__explain--status
          %tr.ccc
            %th 出品者
            %td すタップ
      .top__plice
        .top__plice--nmuber
          ¥1,999
        .top__plice--tax
          (税込) 
        .top__plice--send
          着払い

      =link_to "" ,class:"top__buy" do
        購入画面に進む
      .top__text
        %li #ボーナム
        %li #bahnam
        %li #tシャツ
        %li 海外のブランドのボーナムです。
        %li 知らない方は調べてみてください。
        %li 値下げ交渉はすぐにいたします。
      .top__bottom
        .top__bottom--iine
          %i.far.fa-heart
          .iine
            いいね!
          .iine-num
            3
          -# %i.fas.fa-heart
        .top__bottom--report
          %i.fa.fa-flag
          .report-text
          不適切な商品の報告
        .top__bottom--rock
          %i.fa.fa-lock
          あんしん・あんぜんへの取り組み
    .aa
    .show-messages
      .messages-left
        %i.fas.fa-user-circle
      .messages-right
        .message-name
          Hayama328
        .message
          .message__top
            はじめまして。送料込みですといくらでしょうか？お安くしていただけると助かります！
          .message__bottom
            .message__bottom--left
              %i.far.fa-clock
              .time
                227 日前
            .message__bottom--right
              %i.fa.fa-flag
    .bb
    .show-ad
      .show-ad__line
        %i.fab.fa-facebook-square
        %i.fab.fa-twitter-square
        %i.fab.fa-pinterest-square
  .fin
              


      
    
