= render 'shared/header'
.content
  .credit
    .credit-header
      支払い方法
    .credit-main
      .credit-detail
        .credit-list
          クレジットカード一覧
        .credit-setting
          %li.card-logo 
            VISA
          %li.credit-number ***********
          %li.credit-limit 10 / 22
          .delet-btn
            削除する
      .about
        支払い方法について
        %i.fa.fa-angle-right
= render 'shared/footer'